.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.thumbnail {
  width: 100%;
}

.video-info-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
}

.profile-picture {
  width: 36px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}
.profile-picture-hover {
  width: 36px;
  border-radius: 20px;
  cursor: pointer;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 20px;
}

.video-author,
.video-stats {
  margin-bottom: 5px;
  font-size: 12px;
  color: gray;
}

.thumbnail-container {
  position: relative;
}

.video-time {
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
}

.card {
  min-width: 200px;
}

.profile-container {
  position: relative;
  height: 36px;
  width: 36px;
}

.hover-profile-card {
  background-color: white;
  display: flex;
  position: absolute;
  align-items: center;
  top: 40px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(197, 197, 197);
  opacity: 0;
  transition: opacity 0.15s;
  z-index: 400;
  pointer-events: none;
}

.hover-title {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 3px;
}

.hover-subscriber {
  font-size: 12px;
  white-space: nowrap;
  color: gray;
}

.profile-picture-hover {
  margin-right: 10px;
  pointer-events: none;
}

.profile-container:hover .hover-profile-card {
  opacity: 1;
}

@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 769px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 320px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}
